.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build
out/
/target/
/.classpath
/.project
/.settings/
/gen/
/nbandroid/
/bin/
/target
/client/target
/core/target
/driver/target
/driver-active-extension/target
/driver-filterwheel/target
/driver-ccd/target
/driver-focuser/target
/driver-raspberrypigpio/target
/driver-telescope/target
/fits-utils/target
/gnu-scientific-lib/target
/server/target
*.class
