
@font-face {
  font-family: "SourceSansProLight";
  font-style: normal;
  font-weight: normal;
  src: url("SourceSansPro-Light-webfont.eot?#iefix") format("embedded-opentype"), url("SourceSansPro-Light-webfont.woff") format("woff"), url("SourceSansPro-Light-webfont.ttf") format("truetype"), url("SourceSansPro-Light-webfont.svg#SourceSansProLight") format("svg");

}

@font-face {
  font-family: "SourceSansProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("SourceSansPro-Regular-webfont.woff") format("woff"), url("SourceSansPro-Regular-webfont.ttf") format("truetype"), url("SourceSansPro-Regular-webfont.svg#SourceSansRegular") format("svg");
}

body, td, select, input, li {
    font-family: Helvetica,Arial,sans-serif;
}

#contentBox {
	background: url(../images/eclipsetool_ligth.png) center center no-repeat;
}

body {
	background: url(../images/top-bg-texture.png),url('../images/bottom-bg-texture.png'),url(../images/body-background.png);
  	background-position: center top,center bottom,center top;
  	background-repeat: no-repeat,no-repeat,repeat-y;
	background-color: #033B57;
}

#breadcrumbs {
    color: #FFF;
    background-color: rgba(22, 132, 187, 0.8);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
    margin: 5px;
}

#navcolumn {
    color: #FFF;
    background-color: rgba(22, 132, 187, 0.8);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
}

.section {
    color: #FFF;
    background-color: rgba(22, 132, 187, 0.8);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
    margin: 8px;
}

table.bodyTable th {
    background-color: rgb(14, 88, 124);
}

table.bodyTable tr.a {
    background-color: rgb(16, 99, 140);
}

table.bodyTable tr.b {
    background-color: rgb(19, 117, 163);
}

h2, h3, h4, h5 {
    color: #FFF;
    background-color: rgba(22, 132, 187, 0.8);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
    margin: 4px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}

a:link {
    color: rgba(255, 255, 255, 0.7);
}

a:visited {
    color: rgba(255, 255, 255, 0.7);
}

#footer {
    font-size: x-small;
    color: rgba(255, 255, 255, 0.7);
}

#banner {
    border-bottom: 1px solid #000;
}
.source {
    border: 1px solid ;
    border-color:  rgba(255, 255, 255, 0.2);
}


#apt-box {
    margin: 0px;
    border: 0px;
    padding: 0px 0px;
}

#apt-box div {
    color: black;
    background-color: #FFF;
}

#apt-box h1 , #apt-box h2, #apt-box h3 ,#apt-box h4 , #apt-box h5 {
    font-size: 39px;
    font-family: 'SourceSansProLight',Helvetica,Arial,sans-serif;
    color: #7E7E7E;
    background-color: #FFF;
    box-shadow: none;
    text-shadow: none;
}

#apt-box h2, #apt-box h3 ,#apt-box h4 , #apt-box h5 {
    font-size: 25px;
}

#navcolumn h1 , #navcolumn h2, #navcolumn h3 ,#navcolumn h4 , #navcolumn h5 {
    box-shadow: none;
    text-shadow: none;
}

#apt-box body,#apt-box  td,#apt-box  select,#apt-box  input,#apt-box  li {
    font-family: "SourceSansProRegular",Helvetica,Arial,sans-serif;
}

#apt-box  .section {
    box-shadow: none;
    border: 0px;
    margin: 8px;
}

#navcolumn a:link, #navcolumn a:visited {
    color: #FFF;
}
